<ul class="list-unstyled">
  <li class="pc-h-item pc-sidebar-collapse">
    <a href="javascript:" title="click to menu collapse" class="pc-head-link ms-0" (click)="toggleNav()">
      <i antIcon [type]="navCollapsed ? menuUnfoldIcon : menuFoldIcon" theme="outline"></i>
    </a>
  </li>
  <ng-container *ngIf="!navCollapsed">
    <li class="pc-h-item">
      <a routerLink="/home" class="pc-head-link">Home</a>
    </li>
    <li class="pc-h-item">
      <a routerLink="/about" class="pc-head-link">About</a>
    </li>
    <li class="pc-h-item">
      <a routerLink="/contact" class="pc-head-link">Contact</a>
    </li>
  </ng-container>
</ul>
<router-outlet></router-outlet>
