<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Left side -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
  <app-navleft> [navCollapsed]="navCollapsed"></app-navleft>
          </li>
        </ul>
        
        <!-- Right side -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <app-navright> [styleSelectorToggle]="styleSelectorToggle" (Customize)="toggleStyleSelector()"></app-navright>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>