.form-container {
    background-color: rgba(255, 255, 255, 0.47);
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:focus {
    outline: none;
}

.link {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.link:hover {
    text-decoration: underline;
}
