<ul class="list-unstyled d-flex">
  <li class="pc-h-item">
    <a class="pc-head-link me-0 bg-gray-200"></a>
  </li>
  <li class="dropdown pc-h-item" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0 bg-gray-200" ngbDropdownToggle>
      <!-- <span class="badge bg-primary pc-h-badge">{{ notifications.length }}</span> -->
    </a>
    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header d-flex align-items-center justify-content-between">
        <h5 class="m-0">Notification</h5>
        <a class="bg-transparent"></a>
      </div>
      <div class="dropdown-divider"></div>
      <ng-scrollbar style="min-height: 300px" visibility="hover">
        <div class="dropdown-header px-0 text-wrap header-notification-scroll">
          <div class="list-group list-group-flush w-100">
            <!-- <a *ngFor="let notification of notifications" class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <div class="user-avatar bg-light-success"></div>
                </div>
                <div class="flex-grow-1 ms-3">
                  <span class="float-end text-muted">{{ notification.date_etude }}</span>
                  <p class="text-body mb-0">{{ notification.statut }}</p>
                </div>
              </div>
            </a> -->
          </div>
        </div>
      </ng-scrollbar>
      <div class="dropdown-divider"></div>
      <div class="text-center py-2">
        <a class="link-primary">View all</a>
      </div>
    </div>
  </li>
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <span class="f-w-600">{{ profile || 'Jonh' }}</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header">
        <div class="d-flex mb-1">
          <div class="flex-grow-1 ms-3 text-start">
            <h6 class="mb-0">{{ profile || 'JWT User' }}</h6>
            <span>Beneficiaire</span>
          </div>
          <a href="/accueil" class="bg-transparent" (click)="logout()">Déconnexion</a>
        </div>
      </div>
    </div>
  </li>
</ul>
<router-outlet></router-outlet>
