<div class="container" *ngIf="showForm">
  <h2>Sign Up</h2>
  
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="form_data.nom" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="numero_de_telephone" class="form-label">Numéro de Téléphone</label>
      <input type="text" id="numero_de_telephone" name="numero_de_telephone" [(ngModel)]="form_data.numero_de_telephone" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="form_data.email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="mot_de_passe" class="form-label">Mot de Passe</label>
      <input type="password" id="mot_de_passe" name="mot_de_passe" ngModel class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="CNI" class="form-label">CNI</label>
      <input type="number" id="CNI" name="CNI" ngModel class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <a href="/" class="bg-transparent">Retour</a>
  </form>
</div>
<router-outlet></router-outlet>
